#Ignore all files and folders...
/*

#Except the Assets, Packages, & ProjectSettings folder, as well as the selected Git files and README.md.
!/[Aa]ssets/
!/[Pp]ackages/
!/[Pp]rojectSettings/
!/.gitignore
!/.gitattributes
!/README.md

#Ignore MacOS "Desktop Services Store" folder attributes files
.DS_Store

